
.table-fixed tbody {
  height: 300px;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;

  &::after {
      content: '';
      clear: both;
      display: block;
  }
}
