<div class="row">
  <div class="col-12">
    <h5>Partidos</h5>
  </div>
</div>



<div class="row w-100">
  <div class="col-3">
    <app-menu-partidos class="position" (newItemEvent) = "cambiaOpc($event)"></app-menu-partidos>
  </div>
  <div class="col-9">
    <div class="container w-100" [ngSwitch]="menuOption">
      <div class="row" *ngSwitchCase="'crear-partido'">
        <app-crear-partido class="w-100"></app-crear-partido>
      </div>
      <div class="row" *ngSwitchCase="'ver-partidos'">
        <app-ver-partidos class="w-100"></app-ver-partidos>
      </div>
    </div>
  </div>
</div>
