<div class="row form-group d-flex justify-content-start">
  <div class="col-6">
    <label for="nombre">Nombre</label><input type="text" name="nombre" id="" class="form-control" [(ngModel)]="arbitro.nombre" [disabled]="arbitro.idarbitro !=0">
  </div>
</div>
<div class="row form-group d-flex justify-content-start">
  <div class="col-6">
    <label for="nombre">Telefono</label><input type="text" name="nombre" id="" class="form-control" [(ngModel)]="arbitro.telefono">
  </div>
</div>
<div class="row form-group d-flex justify-content-center">
  <div class="col-6">
    <button class="w-50 btn btn-success" (click)="SaveUpdArbi()">Guardar</button>
  </div>
</div>
