<link rel="icon" type="image/png" href="../../assets/img/icons/favicon.ico"/>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Iniciar Sesión
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" [(ngModel)] = "usuario" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" [(ngModel)] = "pss" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<!-- <div class="login100-form p-b-34 p-t-27" style="cursor: pointer;">
							<a class="text-white btn"  routerLink="/test"><i class="fas fa-bars"></i> Soy estudiante</a>
					</div> -->

					<div class="d-flex justify-content-center">
						<button class="login100-form-btn" (click)="login()">
							Login
						</button>
					</div>
          <div class="d-flex justify-content-center mt-5 text-white ">
						{{mensaje}}
					</div>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
  <app-luna *ngIf="espera"></app-luna>
