<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="part.idpartido!=0">Editar Partido</h4>
      <h4 class="modal-title" *ngIf="part.idpartido==0">Crear partido</h4>
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <app-crear-partido [part]="part"  (esperaEvent)="esperaChange($event)" (cierraModalEv)="cerrarModal()"></app-crear-partido>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>
