  <div class="row mt-2">
  <div class="col-lg-12 mx-auto bg-white rounded shadow">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-2">
                      Nombre
                    </th>
                    <th scope="col" class="col-2">
                      Equipos
                    </th>
                    <th scope="col" class="col-3">
                      Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-2">Primera division</th>
                    <th class="col-2">
                      <button class="btn btn-info bi bi-eye-fill d-flex justify-content-center" data-toggle="modal" data-target="#modalVE"></button>
                    </th>
                    <td class="col-3">
                        <button class="btn btn-success bi bi-pencil-square border-0 h-100" data-toggle="modal" data-target="#modalCD"></button>
                        <button class="btn btn-danger bi-trash3 border-0"></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</div>

