
  <div class=" py-5">
      <div class="row">
          <div class="col-lg-9 mx-auto bg-white rounded shadow">

              <!-- Fixed header table-->
              <div class="table-responsive">
                  <table class="table table-fixed">
                      <thead>
                          <tr>
                              <th scope="col" class="col-3">
                                Nombre equipo
                              </th>
                              <th scope="col" class="col-3">
                                Color playera
                              </th>
                              <th scope="col" class="col-2">
                                Representante
                              </th>
                              <th scope="col" class="col-2">
                                Jugadores
                              </th>
                              <th scope="col" class="col-2">
                                Acciones
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row" class="col-3">Atomicos</th>
                              <td class="col-3">Morado</td>
                              <td class="col-2">Simon Fabila</td>
                              <td class="col-2"><button class="btn btn-info bi bi-eye-fill" data-toggle="modal" data-target="#myModal3"></button></td>
                              <td class="col-2">
                                  <button class="btn btn-success bi bi-pencil-square" data-toggle="modal" data-target="#myModal4"></button>
                                  <button class="btn btn-danger bi-trash3"></button>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>


<div class="row">
  <div class="modal fade" id="myModal3">
    <app-ver-jugadores-modal></app-ver-jugadores-modal>
  </div>
</div>
<div class="row">
  <div class="modal fade" id="myModal4">
    <app-crear-equipo-modal></app-crear-equipo-modal>
  </div>
</div>


