.spiner {
  animation: spiner 1s infinite linear;
  animation-delay: -2s;
}
@keyframes spiner {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.espera{
  width: 100%!important;
  height: 100%!important;
  /* height: max-content!important; */
  vertical-align: middle!important;
  position:absolute !important;
  top: 0px; left: 0cm;
  background-color: darkblue;
  opacity: 50%;
  background-attachment: fixed;
}
.mitad{
  position:absolute !important;
  top: 0px; left: 0cm;
  opacity: 100% !important;
  margin-top: 25%!important;
}
