<div class="row">
  <div class="col-1">
    <label for="jornada">Jornada</label>
  </div>
  <div class="col-11">
    <select name="jornada" id="jornada" class="w-50 form-control">
      <option value="jornada">J1</option>
      <option value="jornada">J2</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-12 mx-auto bg-white rounded shadow">

    <!-- Fixed header table-->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-2">
                      Local
                    </th>
                    <th scope="col" class="col-2">
                      Visitante
                    </th>
                    <th scope="col" class="col-2">
                      Fecha y Hora
                    </th>
                    <th scope="col" class="col-2">
                      Cancha
                    </th>
                    <th scope="col" class="col-2">
                      Arbitro
                    </th>
                    <th scope="col" class="col-2">
                      Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-2">Atomicos</th>
                    <td class="col-2">Toluca</td>
                    <td class="col-2">20/11/2023 20:30</td>
                    <td class="col-2">Cancha 1</td>
                    <td class="col-2">Un arbitro</td>
                    <td class="col-3">
                        <button class="btn btn-success bi bi-pencil-square border-0 h-100" data-toggle="modal" data-target="#modalCP"></button>
                        <button class="btn btn-info bi bi-file-earmark-spreadsheet border-0" data-toggle="modal" data-target="#modalCedula"></button>
                        <button class="btn btn-danger bi-trash3 border-0"></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</div>
<div class="modal fade" id="modalCP">
  <app-crear-partido-modal></app-crear-partido-modal>
</div>
<div class="modal fade" id="modalCedula">
  <app-cedula-modal></app-cedula-modal>
</div>
