<div class="row">
  <div class="col-2">
    <label for="local">Local</label>
  </div>
  <div class="col-4">
    <select name="local" id="local" class="form-control">
      <option value="atomicos">Atomicos</option>
    </select>
  </div>
  <div class="col-2">
    <label for="visitante">Visitante</label>
  </div>
  <div class="col-4">
    <select name="visitante" id="visitante" class="form-control">
      <option value="toluca">Toluca</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-2">
    <label for="fecha">Fecha</label>
  </div>
  <div class="col-4">
    <input type="date" name="fecha" id="fecha" class="form-control">
  </div>
  <div class="col-2">
    <label for="hora">Hora</label>
  </div>
  <div class="col-4">
    <input type="time" name="hora" id="hora" class="form-control">
  </div>
</div>
<div class="row mt-2">
  <div class="col-2">
    <label for="cancha">Cancha</label>
  </div>
  <div class="col-4">
    <select name="cancha" id="cancha" class="form-control">
      <option value="cancha">Cancha 1</option>
    </select>
  </div>
  <div class="col-2">
    <label for="arbitro">Arbitro</label>
  </div>
  <div class="col-4">
    <select name="arbitro" id="arbitro" class="form-control">
      <option value="arbitro">Jose Luis Arbitro</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-2">
    <label for="jornada">Jornada</label>
  </div>
  <div class="col-4">
    <select name="jornada" id="jornada" class="form-control">
      <option value="jornada">J1</option>
      <option value="jornada">J2</option>
    </select>
  </div>
</div>
<div class="row mt-2">
  <div class="col-10 d-flex justify-content-end">
    <button class="btn btn-success">Guardar</button>
  </div>
</div>
