/* You can add global styles to this file, and also import other style files */
.mainmenubtn {
  background-color: rgb(1, 207, 1);
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
  z-index: 3;
}
.mainmenubtn:hover {
  background-color: rgb(16, 177, 24);
  position: relative;
  }
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: rgb(1, 207, 1);
  min-width: 200px;
  cursor: pointer;
}
.dropdown-child a {
  color: white !important;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
  position: absolute;
}
.dropdown-child:hover {
  position: relative;
}
